* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card {
    cursor: pointer;
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card__header {
    padding: 15px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(207, 199, 199);
}
.card__header-left {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.card__header-right {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.card__customer {
    font-weight: bold;
    font-size: 20px;
}
.card__date span:first-child {
    color:rgb(216, 104, 0);
}
.card__date span {
    color:green;
}

.card__indicator {
    padding: 3px;
    border: 5px solid rgb(20, 170, 20);
    background-color: rgb(20, 170, 20);
    border-radius: 20px;
}

.card__id {
    font-weight: bold;
    color: rgb(20, 170, 20);
    display: block;
    position: relative;
    max-width: 200px;
}

.card__package-link {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    display: flex;
    flex-direction: column-reverse;
}

.card__main {
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
}

.card__main.opened {
    max-height: 500px;
}
.card__product-list{
    padding: 20px;
    border: 1px solid rgb(207, 199, 199);
}

.card__product-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spec-requests__list{
    padding: 20px;
    border: 1px solid rgb(207, 199, 199);
}
.spec-request {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media {
    padding: 20px;
    border: 1px solid rgb(207, 199, 199);
}