* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card {
}

.card__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card__header {
    cursor: pointer;
    padding: 15px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(207, 199, 199);
}
.card__header-left {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.card__header-right {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.card__customer {
    font-weight: bold;
    font-size: 20px;
}
.card__date span:first-child {
    color:rgb(204, 75, 0);
}
.card__date span {
    color:green;
}

.card__indicator {
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.card__indicator.done {
    background-color: rgb(20, 170, 20);
}

.card__indicator.not-done {
    background-color: rgb(204, 75, 0);
}

.card__id {
    font-weight: bold;
    color: rgb(20, 170, 20);
    display: block;
    position: relative;
    max-width: 200px;
}

.card__package-link {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    display: flex;
    flex-direction: column-reverse;
}

.card__product-list{
    padding: 20px;
    border: 1px solid rgb(207, 199, 199);
}

.card__product-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spec-requests__list{
    padding: 20px;
    border: 1px solid rgb(207, 199, 199);
}
.spec-request {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media {
    padding: 20px;
    border: 1px solid rgb(207, 199, 199);
    align-items: center;
}

.media label {
    display: flex;
    align-items: center;
    width: fit-content;
    padding:3px;
    border-radius: 2px;
    gap: 5px;
    background-color: rgb(146, 148, 150);
    cursor: pointer;
    margin: 10px;
}

.media__img {
    display: block;
    width: 32px;
    height: 32px;
}

.media__text {
    font-size: 20px;
    height: fit-content;
    font-weight: bold;
}

.file-input {
    display: none;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

.photo-block {
    position: relative;
    height: 100px;
    width: fit-content;
    cursor: pointer;
}

.photo__image {
    max-height: 100px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #000;
    border-radius: 50%;
}

.close::after {
    content: '';
    top: 0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    position: absolute;
    height: 2px;
    width: 25px;
    transform: rotate(45deg);
    background-color: #fff;
}
.close::before {
    content: '';
    top: 0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    position: absolute;
    height: 2px;
    width: 25px;
    transform: rotate(-45deg);
    background-color: #fff;
}